<% if(locals.isLoggedIn){ %>

<div class="row">

  <% photos.forEach(photo => { %>
    <div class="col s12 m4">
      <div class="card">

        <div class="card-image">
          <img class="activator" src="<%= photo.url %>">
        </div>

        <div class="card-content">
        <% if(photo.user) { %>
        <p class="activator user"><%= photo.user.username %></p>
        <% } %>
        <p class="activator"><%= photo.caption %><i class="material-icons right">more_vert</i></p>
        </div>



        <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Options<i class="material-icons right">close</i></span>
          <a href="/photos/<%= photo._id %>" class="waves-effect waves-light btn reveal indigo accent-4">View</a>
          <a href="/photos/<%= photo._id %>/edit"class="waves-effect waves-light btn reveal indigo accent-4">Edit</a>
          <form method="POST" action="/photos/<%= photo._id %>">
           <input type="hidden" name="_method" value="delete">
           <button class="waves-effect waves-light red btn reveal indigo darken-4">Delete</button>
         </form>
        </div>

      </div>
    </div>
  <% }) %>

</div>
<% } %>
