<div class="row">
  <div class="col s12 m4">
    <div class="card">

      <div class="card-image">
        <img src="<%= photo.url %>">
      </div>

      <div class="card-content">

        <% if(photo.user) { %>
          <p><%= photo.user.username %></p>
        <% } %>

        <p><%= photo.caption %></p>

        <% photo.comments.forEach(comment => { %>
          <div class="delete-div">
          <p> <span class="user"><%= comment.user.username %></span> <%= comment.content %></p>

          <% if ((comment.user && comment.user.id) === locals.user.id) {%>
          <form class="delete-comment" action="/photos/<%= photo.id %>/comments/<%= comment.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit"><i class="material-icons tiny delete-icon">delete</i></button>
          </form>
          <% } %>
          </div>
        <% }) %>

      </div>


      <div class="card-action">
        <div class="input-field">
          <form class="add-comment" action="/photos/<%= photo.id %>/comments" method="post">
            <textarea id="textarea<%= photo._id %>" class="materialize-textarea" name="content" placeholder="Add comment..."></textarea>
            <button type="submit" name="button"><i class="material-icons tiny send-icon">send</i></button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
